<!doctype html>
<title>File Reader</title>
<head>
	<style type="text/css">
		.col{
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
		.bor-left{
			border-left: 1px solid black; 
		}
		.col-wide{
			width: 400px;
		}
		.col-narrow{
			width: 100px;
		}

	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div>
	<h1>My file Reader</h1>
	<label>
		Data Read from file is <br><br>
		<table>
		name     | character varying(200) | not null
 abb      | character varying(20)  | not null
 mast_occ | integer                | not null
 data_occ | integer                | not null
 category | character varying(100) | not null
 country  | character varying(200) | not null
 city     | character varying(200) | not null
 id    
		<tr>
			<td class="col">serial</td>
			<td class="col">Id</td>
			<td class="col bor-left">Institute Name</td>
			<td class="col bor-left">Abb</td>
			<td class="col">Master List Occurence</td>
			<td class="col">Data Occurence</td>
			<td class="col">Category</td>
			<td class="col">Country</td>
			<td class="col">Country</td>
			<td class="col">City</td>
		</tr>
		{% set count = 0 %}
		{% for x in data %}
		{% set count = count + 1 %}
		<tr class="row">
			<td class="col col-wide bor-left">{{ count }}</td>
			<td class="col col-wide bor-left">{{ x[7] }}</td>
			<td class="col col-wide bor-left">{{ x[0] }}</td>
			<td class="col col-wide bor-left">{{ x[1] }}</td>
			<td class="col col-wide bor-left">{{ x[2] }}</td>
			<td class="col col-wide bor-left">{{ x[3] }}</td>
			<td class="col col-wide bor-left">{{ x[4] }}</td>
			<td class="col col-wide bor-left">{{ x[5] }}</td>
			<td class="col col-wide bor-left">{{ x[6] }}</td>
		</tr>
		{% endfor %}
  		</table>
  	</label>
</div>

