<tr>
	<td>
		<a href="http://hec.gov.pk/english/universities/Pages/Sindh/Iqra-University.aspx">Iqra University</a>
	</td>            
	<td>Private</td>
	<td>Government of Sindh</td>            
	<td>General</td>            
	<td>All</td>            
	<td>Karachi</td>        
</tr>                  	
<tr>        	
	<td>
		<a href="http://hec.gov.pk/english/universities/Pages/KPK/Islamia-College-University.aspx">Islamia College University</a>
	</td>            
	<td>Public</td>            
	<td>Government of Khyber Pakhtunkhwa</td>            
	<td>General</td>            
	<td>Khyber Pakhtunkhwa</td>            
	<td>Peshawar</td>        
</tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Islamia-University.aspx">Islamia University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Bahawal Pur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Isra-University.aspx">Isra University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Hyderabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Jinnah-Sindh-Medical-University.aspx">Jinnah Sindh Medical University</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Jinnah-University-for-Women.aspx">Jinnah University for Women</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/KASB-Institute-of-Technology.aspx">KASB Institute of Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Karachi-Institute-of-Economics--Technology.aspx">Karachi Institute of Economics &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Karachi-School-for-Business--Leadership.aspx">Karachi School for Business &amp; Leadership</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Gilgit Baltistan/Karakurum-International-University.aspx">Karakurum International University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Gilgit Baltistan</td>            <td>Gilgit</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Khawaja-Freed-University-of-Engineering--Information-Technology.aspx">Khawaja Freed University of Engineering &amp; Information Technology</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rahim Yar Khan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khushal-Khan-Khattak-University.aspx">Khushal Khan Khattak University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Karak</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khyber-Medical-University.aspx">Khyber Medical University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khyber-Pakhtunkhwa-Agricultural-University.aspx">Khyber Pakhtunkhwa Agricultural University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/King-Edward-Medical-University.aspx">King Edward Medical University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Kinnaird-College-for-Women.aspx">Kinnaird College for Women</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Kohat-University-of-Science-and-Technology.aspx">Kohat University of Science and Technology</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Kohat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-College-for-Women-University.aspx">Lahore College for Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-Garrison-University.aspx">Lahore Garrison University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-Leads-University.aspx">Lahore Leads University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-School-of-Economics.aspx">Lahore School of Economics</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-University-of-Management-Sciences.aspx">Lahore University of Management Sciences</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Lasbela-University-of-Agriculture,-Water-and-Marine-Sciences.aspx">Lasbela University of Agriculture, Water &amp; Marine Sciences</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Lasbella</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Liaquat-University-of-Medical-and-Health-Sciences.aspx">Liaquat University of Medical &amp; Health Sciences</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Jam Shoro</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Mehran-University-of-Engineering--Technology.aspx">Mehran University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Jam Shoro</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Minhaj-University.aspx">Minhaj University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Mirpur-University-of-Science-and-Technology.aspx">Mirpur University of Science &amp; Technology</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Mirpur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Mohi-ud-Din-Islamic-University.aspx">Mohi-ud-Din Islamic University</a></td>            <td>Private</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Nerian Sharif</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Muhammad-Ali-Jinnah-University.aspx">Muhammad Ali Jinnah University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Muhammad-Nawaz-Shareef-University-of-Agriculture.aspx">Muhammad Nawaz Shareef University of Agriculture</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                             

<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Abasyn-University.aspx">Abasyn University</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Abdul-Wali-Khan-University.aspx">Abdul Wali Khan University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Mardan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Aga-Khan-University.aspx">Aga Khan University</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Air-University.aspx">Air University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Al-Hamd-Islamic-University.aspx">Al-Hamd Islamic University</a></td>            <td>Private</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Quetta</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Al-Khair-University.aspx">Al-Khair University</a></td>            <td>Private</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Bhimber</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Ali-Institute-of-Education.aspx">Ali Institute of Education</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Allama Iqbal Open University.aspx">Allama Iqbal Open University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Bacha-Khan-University.aspx">Bacha Khan University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Charsada</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Bahauddin-Zakariya-University.aspx">Bahauddin Zakariya University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Bahria-University.aspx">Bahria University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Balochistan-University-of-Engineering--Technology.aspx">Balochistan University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Khuzdar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Balochistan-University-of-Information-Technology--Management-Sciences.aspx">Balochistan University of Information Technology &amp; Management Sciences</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Quetta</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Baqai-Medical-University.aspx">Baqai Medical University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Beaconhouse-National-University.aspx">Beaconhouse National University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Benazir-Bhutto-Shaheed-University-Lyari.aspx">Benazir Bhutto Shaheed University Lyari</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/CECOS-University-of-Information-Technology-and-Emerging-Sciences.aspx">CECOS University of Information Technology &amp; Emerging Sciences</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/COMSATS.aspx">COMSATS Institute of Information Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Capital-University-of-Science-and-Technology.aspx">Capital University of Science &amp; Technology</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/City-University-of-Science-and-Information-Technology.aspx">City University of Science and Information Technology</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Commecs-Institute-of-Business--Emerging-Sciences.aspx">Commecs Institute of Business &amp; Emerging Sciences</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/DHA-Suffa-University.aspx">DHA Suffa University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/DOW-University-of-Health-Sciences.aspx">DOW University of Health Sciences</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Dadabhoy-Institute-of-Higher-Education.aspx">Dadabhoy Institute of Higher Education</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Dawood-University-of-Engineering--Technology.aspx">Dawood University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Fatima-Jinnah-Women-University.aspx">Fatima Jinnah Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rawalpindi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Federal-Urdu-University.aspx">Federal Urdu University of Arts, Sciences &amp; Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Forman-Christian-College.aspx">Forman Christian College</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Foundation-University.aspx">Foundation University</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/GIFT-University.aspx">GIFT University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Gujranwala</td>        </tr>                             

<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Gambat-Institute-of-Medical-Sciences.aspx">Gambat Institute of Medical Sciences</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Khairpur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Gandhara-University.aspx">Gandhara University</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Ghazi-University.aspx">Ghazi University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Dera Ghazi Khan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Ghulam-Ishaq-Khan-Institute-of-Engineering-Sciences--Technology.aspx">Ghulam Ishaq Khan Institute of Engineering Sciences &amp; Technology</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Swabi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Global-Institute.aspx">Global Institute</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Gomal-University.aspx">Gomal University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Dera Ismail Khan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Government-College-University.aspx">Government College University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Faisalabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Government-College-University,-Lahore.aspx">Government College University, Lahore</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Government-College-for-Women-University.aspx">Government College for Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Faisalabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Government-College-for-Women-University,-Sialkot.aspx">Government College for Women University, Sialkot</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Sialkot</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Government-Sadiq-College-Women-University.aspx">Government Sadiq College Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Bahawal Pur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Greenwich-University.aspx">Greenwich University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/HITEC-University.aspx">HITEC University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rawalpindi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Habib-University.aspx">Habib University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Hajvery-University.aspx">Hajvery University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Hamdard-University.aspx">Hamdard University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Hazara-University.aspx">Hazara University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Mansehra</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Imperial-College-of-Business-Studies.aspx">Imperial College of Business Studies</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Indus-Valley-School-of-Art-and-Architecture.aspx">Indus Valley School of Art &amp; Architecture</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Indus&nbsp;University.aspx">Indus&nbsp;University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Information-Technology-University-of-the-Punjab.aspx">Information Technology University of the Punjab</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Institute-of-Business-and-Technology.aspx">Institute of Business &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Institute-of-Business-Administration.aspx">Institute of Business Administration</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Institute-of-Business-Management.aspx">Institute of Business Management</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Institute-of-Management-Science.aspx">Institute of Management Sciences</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Institute-of-Management-Science.aspx">Institute of Management Sciences</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Institute-of-Southern-Punjab.aspx">Institute of Southern Punjab</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Institute-of-Space-Technology.aspx">Institute of Space Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/International-Islamic-University.aspx">International Islamic University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Iqra-National-University.aspx">Iqra National University</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                             

<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Iqra-University.aspx">Iqra University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>All</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Islamia-College-University.aspx">Islamia College University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Islamia-University.aspx">Islamia University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Bahawal Pur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Isra-University.aspx">Isra University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Hyderabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Jinnah-Sindh-Medical-University.aspx">Jinnah Sindh Medical University</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Jinnah-University-for-Women.aspx">Jinnah University for Women</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/KASB-Institute-of-Technology.aspx">KASB Institute of Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Karachi-Institute-of-Economics--Technology.aspx">Karachi Institute of Economics &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Karachi-School-for-Business--Leadership.aspx">Karachi School for Business &amp; Leadership</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Gilgit Baltistan/Karakurum-International-University.aspx">Karakurum International University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Gilgit Baltistan</td>            <td>Gilgit</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Khawaja-Freed-University-of-Engineering--Information-Technology.aspx">Khawaja Freed University of Engineering &amp; Information Technology</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rahim Yar Khan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khushal-Khan-Khattak-University.aspx">Khushal Khan Khattak University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Karak</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khyber-Medical-University.aspx">Khyber Medical University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Khyber-Pakhtunkhwa-Agricultural-University.aspx">Khyber Pakhtunkhwa Agricultural University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/King-Edward-Medical-University.aspx">King Edward Medical University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Kinnaird-College-for-Women.aspx">Kinnaird College for Women</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Kohat-University-of-Science-and-Technology.aspx">Kohat University of Science and Technology</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Kohat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-College-for-Women-University.aspx">Lahore College for Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-Garrison-University.aspx">Lahore Garrison University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-Leads-University.aspx">Lahore Leads University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-School-of-Economics.aspx">Lahore School of Economics</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Lahore-University-of-Management-Sciences.aspx">Lahore University of Management Sciences</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Lasbela-University-of-Agriculture,-Water-and-Marine-Sciences.aspx">Lasbela University of Agriculture, Water &amp; Marine Sciences</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Lasbella</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Liaquat-University-of-Medical-and-Health-Sciences.aspx">Liaquat University of Medical &amp; Health Sciences</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Jam Shoro</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Mehran-University-of-Engineering--Technology.aspx">Mehran University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Jam Shoro</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Minhaj-University.aspx">Minhaj University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Mirpur-University-of-Science-and-Technology.aspx">Mirpur University of Science &amp; Technology</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Mirpur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Mohi-ud-Din-Islamic-University.aspx">Mohi-ud-Din Islamic University</a></td>            <td>Private</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Nerian Sharif</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Muhammad-Ali-Jinnah-University.aspx">Muhammad Ali Jinnah University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Muhammad-Nawaz-Shareef-University-of-Agriculture.aspx">Muhammad Nawaz Shareef University of Agriculture</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                             
<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Muhammad-Nawaz-Sharif-University-of&nbsp;-Engineering--Technology.aspx">Muhammad Nawaz Sharif University of&nbsp; Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/MY-University.aspx">Muslim Youth University</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/NED-University-of-Engineering--Technology.aspx">NED University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/NFC-Institute-of-Engineering--Technology.aspx">NFC Institute of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/National-College-of-Arts.aspx">National College of Arts</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/National-College-of-Business-Administration--Economics.aspx">National College of Business Administration &amp; Economics</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/National-Defense-University.aspx">National Defense University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/National-Textile-University.aspx">National Textile University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Faisalabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/National-University-of-Computer-and-Emerging-Sciences.aspx">National University of Computer &amp; Emerging Sciences</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/National-University-of-Medical-Sciences.aspx">National University of Medical Sciences</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>Medical</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/National-University-of-Modern-Languages.aspx">National University of Modern Languages</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/National-University-of-Sciences--Technology.aspx">National University of Sciences &amp; Technology</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/The-Nazeer-Hussain-University.aspx">Nazeer Hussain University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Newport-Institute-of-Communications--Economics.aspx">Newport Institute of Communications &amp; Economics</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Northern-University.aspx">Northern University</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Nowshehra</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Nur-International-University.aspx">Nur International University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Pakistan Institute of Development Economics.aspx">Pakistan Institute of Development Economics (PIDE)</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Pakistan Institute of Engineering And Applied Sciences.aspx">Pakistan Institute of Engineering &amp; Applied Sciences</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Pakistan-Institute-of-Fashion-and-Design.aspx">Pakistan Institute of Fashion &amp; Design</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Pakistan-Military-Academy.aspx">Pakistan Military Academy</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Abbottabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Pakistan-Naval-Academy.aspx">Pakistan Naval Academy</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Peoples-University-of-Medical-and-Health-Sciences-for-Women.aspx">Peoples University of Medical &amp; Health Sciences for Women</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Nawabshah</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Pir-Mehr-Ali-Shah-Arid-Agriculture-University.aspx">Pir Mehr Ali Shah Arid Agriculture University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rawalpindi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Preston-Institute-of-Management,-Science-and-Technology.aspx">Preston Institute of Management, Science &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Preston-University.aspx">Preston University</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Kohat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Preston-University.aspx">Preston University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Qarshi-University.aspx">Qarshi University</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Quaid-e-Awam-University-of-Engineering,-Sciences--Technology.aspx">Quaid-e-Awam University of Engineering, Sciences &amp; Technology</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Nawabshah</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Quaid-i-Azam-University.aspx">Quaid-i-Azam University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Qurtaba-University-of-Science-and-Information-Technology.aspx">Qurtaba University of Science &amp; Information Technology</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Dera Ismail Khan</td>        </tr>                             

<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Riphah-International-University.aspx">Riphah International University</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/Sardar-Bahadur-Khan-Women-University.aspx">Sardar Bahadur Khan Women University</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Quetta</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Sarhad-University-of-Science-and-Information-Technology.aspx">Sarhad University of Science &amp; Information Technology</a></td>            <td>Private</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shah-Abdul-Latif-University.aspx">Shah Abdul Latif University</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Khairpur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Benazir-Bhutto-City-University.aspx">Shaheed Benazir Bhutto City University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Benazir-Bhutto-Dewan-University.aspx">Shaheed Benazir Bhutto Dewan University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Shaheed-Benazir-Bhutto-University.aspx">Shaheed Benazir Bhutto University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Upper Dir</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Benazir-Bhutto-University-of-Veterinary-And-Animal-Sciences-.aspx">Shaheed Benazir Bhutto University of Veterinary &amp; Animal Sciences</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Nawabshah</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Benazir-Bhutto-University,-Shaheed-Benazirabad.aspx">Shaheed Benazir Bhutto University, Shaheed Benazirabad</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Nawabshah</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/Shaheed-Benazir-Bhutto-Women-University.aspx">Shaheed Benazir Bhutto Women University</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Mohtarma-Benazir-Bhutto-Medical-University.aspx">Shaheed Mohtarma Benazir Bhutto Medical University</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Larkana</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Zulfikar-Ali-Bhutto-Institute-of-Science--Technology-(SZABIST).aspx">Shaheed Zulfikar Ali Bhutto Institute of Science &amp; Technology </a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Shaheed-Zulfiqar-Ali-Bhutto-Medical-University.aspx">Shaheed Zulfiqar Ali Bhutto Medical University</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>Medical</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Shaheed-Zulfiqar-Ali-Bhutto-University-of-Law.aspx">Shaheed Zulfiqar Ali Bhutto University of Law</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Islamabad/Shifa-Tameer-e-Millat-University.aspx">Shifa Tameer-e-Millat University</a></td>            <td>Private</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Islamabad Capital Territory</td>            <td>Islamabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sindh-Agriculture-University.aspx">Sindh Agriculture University, Tandojam</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Hyderabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sindh-Institute-of-Management-and-Technology.aspx">Sindh Institute of Management &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sindh-Institute-of-Medical-Sciences.aspx">Sindh Institute of Medical Sciences</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sindh-Madresatul-Islam-University.aspx">Sindh Madresatul Islam University</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sir-Syed-University-of-Engineering--Technology.aspx">Sir Syed University of Engineering &amp; Technology</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Sukkur-Institute-of-Business-Administration.aspx">Sukkur Institute of Business Administration</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Sukkur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Textile-Institute-of-Pakistan.aspx">Textile Institute of Pakistan</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/The-Superior-College.aspx">The Superior College</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/The-University-of-Faisalabad.aspx">The University of Faisalabad</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Faisalabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/The-Women-University.aspx">The Women University</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Multan</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Agriculture.aspx">University of Agriculture</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Faisalabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/University-of-Azad-Jammu--Kashmir.aspx">University of Azad Jammu &amp; Kashmir</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Abbottabad</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/University-of-Balochistan.aspx">University of Balochistan</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Quetta</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Central-Punjab.aspx">University of Central Punjab</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Education.aspx">University of Education</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                             

<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Engineering--Technology.aspx">University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Engineering--Technology.aspx">University of Engineering &amp; Technology</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Engineering--Technology,-Taxila.aspx">University of Engineering &amp; Technology, Taxila</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rawalpindi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-FATA.aspx">University of FATA</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Kohat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Gujrat.aspx">University of Gujrat</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Gujrat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Haripur.aspx">University of Haripur</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Haripur</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Health-Sciences.aspx">University of Health Sciences</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/University-of-Karachi.aspx">University of Karachi</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Lahore.aspx">University of Lahore</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/University-of-Loralai.aspx">University of Loralai</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Loralai</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Malakand.aspx">University of Malakand</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Malakand</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Management--Technology.aspx">University of Management &amp; Technology</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/University-of-Management-Sciences-and-Information-Technology.aspx">University of Management Sciences &amp; Information Technology</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Kotli</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Peshawar.aspx">University of Peshawar</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Peshawar</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/University-of-Poonch.aspx">University of Poonch</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Poonch</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Sargodha.aspx">University of Sargodha</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Sargodha</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Science--Technology.aspx">University of Science &amp; Technology</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Bannu</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/University-of-Sindh.aspx">University of Sindh</a></td>            <td>Public</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Jam Shoro</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-South-Asia.aspx">University of South Asia</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Swabi.aspx">University of Swabi</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Swabi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Swabi-for-Women.aspx">University of Swabi for Women</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Swabi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/KPK/University-of-Swat.aspx">University of Swat</a></td>            <td>Public</td>            <td>Government of Khyber Pakhtunkhwa</td>            <td>General</td>            <td>Khyber Pakhtunkhwa</td>            <td>Swat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Baloachistan/University-of-Turbat.aspx">University of Turbat</a></td>            <td>Public</td>            <td>Government of Balochistan</td>            <td>General</td>            <td>Baluchistan</td>            <td>Turbat</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Veterinary-and-Animal-Sciences.aspx">University of Veterinary &amp; Animal Sciences</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-Wah.aspx">University of Wah</a></td>            <td>Private</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Rawalpindi</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/University-of-the-Punjab.aspx">University of the Punjab</a></td>            <td>Public</td>            <td>Government of Punjab</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Punjab/Virtual-University-of-Pakistan.aspx">Virtual University of Pakistan</a></td>            <td>Public</td>            <td>Government of Pakistan</td>            <td>General</td>            <td>Punjab</td>            <td>Lahore</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/AJK/Women-University-of-Azad-Jammu-and-Kashmir-.aspx">Women University of Azad Jammu &amp; Kashmir</a></td>            <td>Public</td>            <td>Government of AJK</td>            <td>General</td>            <td>Azad Jammu &amp; Kashmir</td>            <td>Bagh</td>        </tr>                  	<tr>        	<td><a href="http://hec.gov.pk/english/universities/Pages/Sindh/Zia-ud-Din-University.aspx">Zia-ud-Din University</a></td>            <td>Private</td>            <td>Government of Sindh</td>            <td>General</td>            <td>Sindh</td>            <td>Karachi</td>        </tr>                             