<!doctype html>
<title>Login Panel for Gmail</title>
<div>
	<h1>Login (API) for Gmail</h1>
	<label>
		Enter Email for
		{% if name %}
  			<h1>Hello {{ name }}!</h1>
	{% else %}
  <h1>Hello World!</h1>
		<input type="text" name="txt_user">
	</label><br>
	<label>
		Enter Password 
		<input type="password" name="txt_pass">
	</label><br>
	<input type="submit" value="Cluick here to Login">
</div>