<!doctype html>
<title>File Reader</title>
<head>
	<style type="text/css">
		.col{
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
		.bor-left{
			border-left: 1px solid black; 
		}
		.col-wide{
			width: 400px;
		}
		.col-narrow{
			width: 100px;
		}
		.myclass {
		    color: blue;
		    cursor: pointer;
		}
		.myclass:hover {
		    color: black;
		}
		td {
		    margin: 0 auto;
		    padding-bottom: 1px !important;
		    padding-left: 10px;
		    padding-right: 1px !important;
		    padding-top: 1px !important;
		    text-align: left;
		}
		thead {
		    background: wheat none repeat scroll 0 0;
		    position: fixed;
		    z-index: 1;
		    top: 0%;
		}
		.col.bor-left.c1 {
		    padding: 4px 120px;
		}
		.col.bor-left.c2 {
		    padding: 4px 124px;
		}
		.col.bor-left.c3 {
		    padding: 4px 156px;
		}
		.col.bor-left.c4 {
		    padding: 4px 129px;
		}
		.col.bor-left.c5 {
		    padding: 4px 127px;
		}
		.checkbox{
			text-align: center;
		}



	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<div>
	<h1>My file Reader</h1>
	<label>
		Data Read from file is <br><br>
    <form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col bor-left c2">is parent?</th>
				<th class="col bor-left c3">Name</th>
				<th class="col bor-left c4">data_occ</th>
				<th class="col bor-left c5">mast_occ</th>
			</tr>
		</thead>
		<tbody>
		{% set count = 0 %}
		{% for x in indexex %}
		{% set count = count + 1 %}
		
		<tr class="row">
			<td class="col col-wide bor-left checkbox">
				<input type="checkbox" class="ttt" name="{{x}}" data-filter = "{{dictionary[x]["name"]}}" >
				<select name="category" class="combo">
					<option value="u">University</option>
					<option value="c">College</option>
					<option value="p">Polytechnique</option>
				</select>
			</td>
			<td class="col col-wide bor-left">{{ dictionary[x]["name"] }}</td>
			<td class="col col-wide bor-left">
				{{ dictionary[x]["data_occ"] }}
			</td>
			<td class="col col-wide bor-left">
				{{ dictionary[x]["mast_occ"] }}
			</td>
		</tr>
		{% endfor %}
		</tbody>
  	</table>
  	</form>
  	</label>
</div>

