<!doctype html>
<title>File Reader</title>
<head>
	<style type="text/css">
		.col{
			border-top: 1px solid black;
			border-right: 1px solid black;
		}
		.bor-left{
			border-left: 1px solid black; 
		}
		.col-wide{
			width: 400px;
		}
		.col-narrow{
			width: 100px;
		}
		.myclass {
		    color: blue;
		    cursor: pointer;
		}
		.myclass:hover {
		    color: black;
		}

	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<div>
	<h1>My file Reader</h1>
	<label>
		Data Read from file is <br><br>
    
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col">serial</th>
				<th class="col bor-left">Institute Name</th>
				<th class="col bor-left">Abb</th>
				<th class="col">Master List Occurence</th>
				<th class="col">Data Occurence</th>
				<th class="col">Category</th>
				<th class="col">Country</th>
				<th class="col">Delete??</th>
			</tr>
		</thead>
		<tbody>
		{% set count = 0 %}
		{% for x in data %}
		{% set count = count + 1 %}
		
		<tr class="row">
			
			<td class="col col-wide bor-left">{{ x[0] }}</td>
			<td class="col col-wide bor-left">{{ x[1] }}</td>
			<td class="col col-wide bor-left">{{ x[2] }}</td>
			<td class="col col-wide bor-left">{{ x[3] }}</td>
			<td class="col col-wide bor-left">{{ x[4] }}</td>
			<td class="col col-wide bor-left">{{ x[5] }}</td>
			<td class="col col-wide bor-left"><p class="myclass" data-filter='{{x[6]}}'>Delete</p> </td>
		</tr>
		{% endfor %}
		</tbody>
  		</table>
  	</label>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".myclass").click(function(){
			if(confirm("Are you sure you want to delete, this record")){
				$.ajax({
					url : "/delete?data="+$(this).attr('data-filter'),
					data : $(this).attr('data-filter'),
					success : function(str){
						$(this).css("display","none");
					}
				});
			}
			else{
				//alert("No");
			}
		});
	});
</script>